In [1]:
import pyspark

In [2]:
df = sqlContext.sql("SELECT * FROM sales_info_csv WHERE Sales is not null ")

In [3]:
df.show()

In [4]:
#DATAFRAMES BASIC

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df = spark.read.json('FileStore/tables/people.json')

In [8]:
df.show()

In [9]:
df.printSchema()

In [10]:
df.columns

In [11]:
df.describe().show()

In [12]:
from pyspark.sql.types import (StructField,
                               StringType,
                               IntegerType,
                               StructType)

In [13]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [14]:
final_struc = StructType(fields=data_schema)

In [15]:
df1 = spark.read.json('FileStore/tables/people.json',schema=final_struc)

In [16]:
df1.show()

In [17]:
df1.printSchema()

In [18]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('aggs').getOrCreate()

df = spark.read.csv('FileStore/tables/sales_info.csv',inferSchema=True,header=True)

In [19]:
df.show()

In [20]:
df.printSchema()

In [21]:
df.groupBy('Company').count().show()

In [22]:
df.groupBy('Company').mean().show()

In [23]:
df.agg({'Sales':'sum'}).show()

In [24]:
df.agg({'Sales':'min'}).show()

In [25]:
group_data = df.groupBy('Company')
group_data.mean().show()
group_data.agg({'Sales':'max'}).show()

In [26]:
from pyspark.sql.functions import countDistinct,avg,stddev
df.select(countDistinct('Company')).show()

In [27]:
df.select(avg('Sales').alias('Average Sales')).show()

In [28]:
from pyspark.sql.functions import format_number
std = df.select(stddev('Sales').alias('Sales_stddev'))
std.show()
std.select(format_number('Sales_stddev',2).alias('std')).show()

In [29]:
df.show()

In [30]:
df.orderBy('Sales').show()

In [31]:
df.orderBy(df['Sales'].desc()).show()

In [32]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Project').getOrCreate()
df_walmart = spark.read.csv('FileStore/tables/walmart_stock.csv',header=True,inferSchema=True)
df_walmart.show()

In [33]:
#What are the column names
df_walmart.columns

In [34]:
#What does the Schema look like?¶
df_walmart.printSchema()

In [35]:
df_walmart.schema

In [36]:
#Print out the first 5 columns

for items in df_walmart.head(5):
  print(items)
  print('\n')

In [37]:
#Use describe() to learn about the DataFrame
#like pandas Dataframe .describe()
df_walmart.describe().show()

In [38]:
df_walmart.describe().printSchema()

In [39]:
result = df_walmart.describe()

In [40]:
result.show()

In [41]:
from pyspark.sql.functions import format_number
result.select(result['summary'],
              format_number(result['open'].cast('float'),2).alias('open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             ).show()

In [42]:
#Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day
df1 = df_walmart.withColumn("HV Ratio",df_walmart['High']/df_walmart['Volume'])
df1.show()

In [43]:
df1.select('HV Ratio').show()

In [44]:
#What day had the Peak High in Price?
df_walmart.orderBy(df_walmart['High'].desc()).head()[0]

In [45]:
#What is the mean of the Close column?¶
## deribe from df_wlamart.describe()
result.select('Close',result['summary'] =='mean').show()

In [46]:
df2 = result[result['summary']=='mean']
df2.select('Close').show()

In [47]:
from pyspark.sql.functions import mean
df_walmart.select(mean('Close')).show()

In [48]:
#What is the max and min of the Volume column?
from pyspark.sql.functions import max,min
df_walmart.select(min('Volume').alias('min_volume'),max('Volume').alias('max_volume')).show()

In [49]:
#How many days was the Close lower than 60 dollars?¶
df_walmart.select('Date','Close','Volume').filter(df_walmart['Close'] < 60).show()

In [50]:
df_walmart.filter(df_walmart['Close'] < 60).count()

In [51]:
#What percentage of the time was the High greater than 80 dollars ?¶
cnt80 =df_walmart.filter(df_walmart['High'] > 80).count() 
cnt = df_walmart.select('High').count()
percent80 = (cnt80 * 1.0/ cnt) * 100
print('percentage of the time was the High greater than 80 dollars is : {}'.format(percent80 ))

In [52]:
#What is the Pearson correlation between High and Volume?
from pyspark.sql.functions import corr
df_walmart.select(corr('High','Volume').alias('correlation')).show()

In [53]:
#What is the max High per year?
from pyspark.sql.functions import year
df3 = df_walmart.withColumn('Year',year(df_walmart['Date']))
df_high_year  = df3.groupBy('Year').max()
df_high_year.show()

In [54]:
#What is the average Close for each Calendar Month?
#In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.
from pyspark.sql.functions import month
df_month = df_walmart.withColumn('Month',month(df_walmart['Date']))
df_avg_month = df_month.orderBy('Month').groupBy('Month').avg()
df_avg_month.select('Month','avg(Close)').show()